.input { /*Se le agrega el . para determinar que es una clase */
  width: 500px;
  height: 40px;
  font-size: 18px;
}

.lista-de-productos { /* Se cambia a clase ya que estamos trabajando con un arreglo y con id necesitariamos id para cada modelo de zapato*/
  display: flex
}

.producto {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.producto img {
  width: 70%;
  height: auto
}